[tool.poetry]
name = "lazyfeed"
version = "0.1.11"
description = "lazyfeed is a dead simple terminal base RSS/Atom reader built using textual."
authors = ["dnlzrgz <24715931+dnlzrgz@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"
feedparser = "^6.0.11"
rich = "^13.8.0"
textual = "^0.78.0"
sqlalchemy = "^2.0.32"
click = "^8.1.7"
pydantic-settings = "^2.4.0"
sqids = "^0.5.0"
aiohttp = { extras = ["speedups"], version = "^3.10.5" }


[tool.poetry.group.dev.dependencies]
commitizen = "^3.29.0"
ruff = "^0.6.2"
textual-dev = "^1.5.1"


[tool.poetry.group.tests.dependencies]
pytest-aiohttp = "^1.0.5"
pytest-asyncio = "^0.24.0"
pytest = "^8.3.2"


[tool.poetry.scripts]
lazyfeed = "lazyfeed.cli:cli"


[tool.pytest.ini_options]
asyncio_mode = "auto"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
